@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.image{
    height: 130px;
}

.paragraph{
    color: lightgrey;
    font-family: 'Roboto';
    font-size: 24px;
    text-align: end;
    
}

.heading{
    color: white;
    font-family: 'Roboto';
    font-size: 48px;
    text-align: end;
    
}
.details-container{
    width: 60%;
}

.bg-container{
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png');
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;
}